# Build results

[Dd]ebug/
[Rr]elease/
x64/
build/
[Oo]bj/

# Enable "build/" folder in the NuGet Packages folder since NuGet packages use it for MSBuild targets
!packages/*/build/

# =========================
# Windows detritus
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store


# =======================
# NBU gamedev stuff
# =======================

src/sdl/*
bin/*.exe
bin/*.dll
!.gitignore